.flex-container1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-menu-child {
    background-color: var(--white);
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  
  .left-menu-inner {
    border-top: 1.5px solid var(--background);
    box-sizing: border-box;
    width: 100%;
    height: 0.09rem;
    margin-bottom: 2rem;
  }
  
  .left-menu-item {
    flex: 1;
    border-top: 1.5px solid var(--background);
    box-sizing: border-box;
    margin-bottom: 2rem;
  }
  
  .profile {
    width: 100%;
    font-size: var(--h4-18-size);
    color: var(--black);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .profile-icon {
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .available-icon {
    width: 80%;
    margin-left: 0.5rem;
  }
  
  .sarvin-mohammadi {
    width: 80%;
    line-height: 1px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .font-end-developer {
    width: 80%;
    font-size: var(--paragraph-progress-15-size);
    line-height: 1rem;
    color: var(--paragraph-font);
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
  }
  

  .left-menu-child {
    background-color: var(--white);
    width: 100%;
    max-width: 305px;
    height: 100%;
    max-height: 1315px;
  }
  
  .left-menu-inner {
    position: absolute;
    top: 33.2rem;
    left: 2.45rem;
    border-top: 1.5px solid var(--background);
    box-sizing: border-box;
    width: 13.84rem;
    height: 0.09rem;
  }
  
  .left-menu-item {
    width: 100%;
    max-width: 411px;
    height: 100%;
    max-height: 1315px;
    border-top: 1.5px solid var(--background);
    box-sizing: border-box;
  }
  
  .profile {
    width: 100%;
    max-width: 219px;
    height: 100%;
    max-height: 281px;
    font-size: var(--h4-18-size);
    color: var(--black);
    align-self: center;
  }
  
  .profile-icon {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    align-self: center;
  }
  
  .available-icon {
    width: 16px;
    height: 16px;
  }
  
  .social-icon {
    width: 100%;
    max-width: 219px;
    height: 24px;
    margin-top: 1rem;
  }
  
  .about {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 126px;
    color: var(--black);
    margin-top: 1rem;
  }
  
  .age {
    width: 100%;
    max-width: 220px;
    height: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .age-child {
    width: 46px;
    height: 100%;
    max-height: 24px;
    background-color: var(--yellow);
  }
  
  .age1 {
    width: 33px;
    height: 100%;
    max-height: 24px;
  }
  
  .div {
    width: 19px;
    height: 100%;
    max-height: 24px;
    text-align: right;
  }
  
  .residence {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 24px;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  
  .residence-child {
    width: 89px;
    height: 24px;
    background-color: var(--yellow);
  }
  
  .residence1 {
    width: 78px;
    height: 24px;
  }
  
  .bd {
    width: 21px;
    height: 24px;
    text-align: right;
  }
  
  .freelance {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 24px;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .freelance-child {
    width: 85px;
    height: 24px;
    background-color: var(--yellow);
  }
  
  .freelance1 {
    width: 74px;
    height: 24px;
  }
  
  .available {
    width: 65px;
    height: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--available);
    text-align: right;
  }
  
  .address {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 24px;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .address-child {
    width: 75px;
    height: 24px;
    background-color: var(--yellow);
  }
  
  .address1{
    width: 63px;
    height: 24px;
  }
  
  .tehraniran {
    width: 132px;
    height: 24px;
    line-height: 24px;
    text-transform: capitalize;
    text-align: right;
  }
  
  /* Media Queries */
  
  @media screen and (max-width: 767px) {
    .flex-container1 {
      flex-direction: column;
      align-items: center;
    }
    
    .residence,
    .freelance,
    .address {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  .languages {
    width: 100%;
    max-width: 371px;
    margin-top: 1rem;
  }
  
  .mothertongue {
    width: 100%;
    max-width: 228px;
    height: 24px;
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .english {
    width: 100%;
    max-width: 228px;
    height: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .persian {
    width: 40%;
    height: 24px;
    line-height: 24px;
    margin-top: 2rem;
    text-transform: capitalize;
  }
  
  .native {
    width: 50%;
    height: 24px;
    line-height: 24px;
    margin-top: 2rem;
    text-transform: capitalize;
  }
  
  .english1 {
    width: 40%;
    line-height: 24px;
    margin-top: 5rem;
    text-transform: capitalize;
  }
  
  .advanced {
    width: 50%;
    height: 100%;
    margin-top: 1rem;
    line-height: 24px;
    text-transform: capitalize;
    padding: 0.5rem;
  }
  
  .contact-information {
    width: 100%;
    max-width: 173px;
    height: 22px;
    margin-top: 1rem;
    font-size: var(--h4-18-size);
    line-height: 123.6%;
    font-weight: 500;
    color: var(--black);
  }
  
  .email {
    width: 100%;
    max-width: 38px;
    height: 24px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }
  
  .testgmailcom {
    width: 60%;
    height: 24px;
    text-decoration: underline;
    line-height: 24px;
    color: inherit;
  }
  
  .phone {
    width: 100%;
    max-width: 45px;
    height: 24px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
  }
  
  .extra-skills {
    width: 100%;
    max-width: 186px;
    height: auto;
    margin-top: 1rem;
  }
  
  .skills {
    width: 100%;
    max-width: 45px;
    height: 18px;
    font-size: var(--h4-18-size);
    line-height: 123.6%;
    font-weight: 500;
    color: var(--black);
  }

 
 